* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
margin: 0;
padding: 0;
}

ul, ol {
list-style: none;
}

a {
text-decoration: none;
color: inherit;
}

img, video, canvas, svg {
max-width: 100%;
height: auto;
display: block;
}

table {
border-collapse: collapse;
}