h1, h2, h3, h4, h5, h6 {
    margin-bottom: 12px;
    
}

h1 {
    font-size: 24px;
    font-weight: 500;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}
p {
    margin: 16px 0 24px 0;
}

h6 {
    font-size: 12px;
    font-weight: 300;
    margin-top: -8px;
}

h3 {
    font-size: 14px;
}

.yourPostsTitle {
    font-size: 16px;
}

.datePosted {
    font-weight: 300;
    font-size: 14px;
}

.leaveComment {
    font-size: 20px;
}